%h1 О программе
.container-eight
  .text-normal
    %p
      HRMSupProgramm – серверное веб-приложение для упрощения процесса
      управления персоналом ИТ компании с поддержкой управления проектами
      и задачами (в том числе для отслеживания ошибок). HRMSupProgramm написан
      на языке программирования Ruby и представляет собой приложение на основе
      широко известного веб-фреймворка Ruby on Rails.
    %p
      HRMSupProgramm должен работать на Unix, Linux, Mac, Mac Server и Windows,
      поскольку Ruby доступен для этих платформ. Для работы требуется лишь
      установленный интерпретатор языка Ruby. Незначительные манипуляции по
      установке начальных установок и генерации базы позволяет поднять систему
      на собственном встроенном сервере.














































  -#This is the home page for the
  -#%a{:href => "http://railstutorial.org/"} Ruby on Rails Tutorial
  -#sample application.