.container
  %ul.nav
    - if signed_in?
      %li.float-right #{link_to "Удалить", [@project, @task], method: :delete, data: { confirm: "Вы уверены?" }}
      %li.float-right= link_to "Изменить", edit_project_task_path
      %li.float-right= link_to "Трудозатраты", '#'