- provide(:title, @user.name)
.row
  %aside.span4
    %section
      %h1
        = gravatar_for @user
        Ваше имя
        = @user.name
      %h1
        Ваша фамилия
        = @user.surname
      %h1
        Ваш E-mail
        = @user.email