- provide(:title, @project.name)
= render 'project_menu'
.container-buf
.row
  %aside.span4
    %section
      .container-five.float-left
        %h1
          Проект:
          %br
          %br
          = @project.name
          %br
          %br
          Затраченное время:
          = @all_project_time
          ч.
      .container-five
        -if(!@project.users.empty?)
          %h4
            Сотрудники:
            %br
            %br
          .text-small
            - @project.users.each do |us|
              =us.name
              =us.surname
              %br
        -else
          %h4
            Сотрудники не назначены