- provide(:title, @project.name)
= render 'project_menu'
.container-buf
.row
  %aside.span4
    %section
      %h1
        Проект:
        = @project.name
      -if(!@project.users.empty?)
        %h3
          Сотрудники:
          - @project.users.each do |us|
            =us.name
      -else
        %h3
          Сотрудники не назначены