// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

hr{
  margin: auto 0;
}

.projects{

  a {
    color: #337ab7;
    text-decoration: none;
    &:hover,
    &:focus {
      color: #222222;
      text-decoration: none;
      font-weight: bold;
    }
  }
}

.project-list{
  list-style: outside none none;
  font-size: 1.5em;
}

.btn-block {
  display: block;
  width: 100%;
}